# {{ ansible_managed }}
[Unit]
Description=Prometheus exporter for to monitor NGINX or NGINX Plus
Documentation=https://github.com/nginxinc/nginx-prometheus-exporter

[Service]
Restart=always
User={{ nginx_exporter__system_user_name }}
ExecStart=/usr/local/bin/{{ nginx_exporter__binary_name }} \
    -nginx.scrape-uri={{ nginx_exporter__scrape_uri }} \
    -nginx.timeout={{ nginx_exporter__scrape_timeout }} \
    -prometheus.const-labels={{ nginx_exporter__prometheus_labels }} \
    -web.listen-address={{ nginx_exporter__listen_address }} \
    -web.telemetry-path={{ nginx_exporter__telemetry_path }} \
    -nginx.retries={{ nginx_exporter__retries }} \
    -nginx.retry-interval={{ nginx_exporter__retry_interval }} \
    -nginx.plus={{ nginx_exporter__nginx_plus }}

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
# {{ ansible_managed }}
